<style>
    .nav, .pagination, .carousel, .panel-title a {
        cursor: pointer;
    }

    .Index {
        width: 100%;
        height: 100%;
    }

    .myGrid {
        width: 100%;
        height: 450px;
    }

    .field {
        clear: both;
        text-align: right;
    }

    label {
        float: left;
        margin: 10px;
        line-height: 25px;
    }

    input {
        margin: 10px;
    }

    .buttons {
        text-align: center;
    }
    
</style>

<div class="Index">
    <login ng-if="!vm.IsLogon"></login>
    <div class="container" ng-if="vm.IsLogon">
        <menu class="container"></menu>
        <div ng-view></div>
        <!----<studentsview></studentsview>-->
    </div>
</div> 