<style>
    .nav, .pagination, .carousel, .panel-title a {
        cursor: pointer;
    }

    .Index {
        width: 100%;
        height: 100%;
    }

    .myGrid {
        width: 100%;
        height: 450px;
    }

    .field {
        clear: both;
        text-align: right;
    }

    label {
        float: left;
        margin: 10px;
        line-height: 25px;
    }

    input {
        margin: 10px;
    }

    .buttons {
        text-align: center;
    }
    
</style>

<div class="Index">
    <login ng-if="!vm.IsLogon"></login>
    <div class="container" ng-if="vm.IsLogon">
        <menu class="container"></menu>
        <div class="container">
            <h3 style="text-align: center">Welcome to the Statistics of students!</h3>
            <input type="button" class="btn btn-info" ng-click="vm.RequestStudents()" value="Retrieve Students" />
        </div>
        <div class="container panel">
            <div class="row">
                <div class="col-sm-8 col-md-8 panel panel-default">
                    <div ui-grid="vm.gridOptions" ui-grid-selection class="myGrid"></div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="field panel panel-default">
                        <label for="stName">Name: </label>
                        <input type="text" id="stName" value={{vm.SelectedRows.name}} size="20" />
                    </div>
                    <div class="field panel panel-default">
                        <label for="stEmail">Email: </label>
                        <input type="text" id="stEmail" ng-model="vm.SelectedRows.email" size="20" />
                    </div>
                    <div class="field panel panel-default">
                        <label for="stDni">Dni: </label>
                        <input type="text" id="stDni" ng-model="vm.SelectedRows.dni" size="20" />
                    </div>
                    <div class="field panel panel-default">
                        <label for="stChairNumber">Chair number: </label>
                        <input type="text" id="stChairNumber" ng-model="vm.SelectedRows.chairNumber" size="20" /><br />
                    </div>
                    <div class="buttons">
                        <input type="button" class="btn btn-info" ng-click="vm.ClearStudent()" value="Clear" />
                        <input class="btn btn-info" type="button" ng-click="vm.AddStudent()" value="Add" />
                        <input type="button" class="btn btn-info" ng-click="vm.UpdateStudent()" value="Update" />
                        <input type="button" class="btn btn-info" ng-click="vm.DeleteStudent()" value="Delete" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 