<blockquote class="blockquote ml-5">
  <h2>Examenes</h2>
  <footer class="blockquote-footer">
      Using inline table editing with <i>Angular 9</i> and <i>Asp.Net Core</i>
  </footer>
</blockquote>
<div class="grid-table">
  <div class="thead">
    <div class="tr">
      <div class="td">Title</div>
      <div class="td">Text</div>
      <div class="td">Date</div>
      <div class="td">SubjectId</div>
      <div class="td">
        <button class="btn btn-outline-success" (click) = "addExamForm()">
            <i class="fa fa-plus"></i> New Examen
        </button>
      </div>
      <div class="td">
        <span *ngIf="notification" class="elementToFadeInAndOut">
            <i class="fas fa-check-circle {{notification.class}}"></i>
            {{notification.message}}
        </span>
      </div>
    </div>
  </div>
  <div class="tbody">
    <form class="tr" [formGroup]="fg" *ngFor="let fg of examForms.controls; let i=index;">
      <div class="td">
        <input class="form-control" formControlName="title">
      </div>
      <div class="td">
        <input class="form-control" formControlName="text">
      </div>
      <!--<div class="td">
        <input class="form-control" formControlName="date">
      </div> -->
      <!--<div class="td">-->
        <div class="form-inline td">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" formControlName="model"
                  ngbDatepicker #d="ngbDatepicker"
                  [placement]="placement" [positionTarget]="buttonEl">
              <div class="input-group-append">
                <button #buttonEl class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        <!--</div>-->
      </div>
      <div class="td">
        <input class="form-control" formControlName="subjectId">
      </div>
      <div class="td">
        <button type="submit" class="btn" (click)="recordSubmit(fg)" [disabled]="fg.invalid"
            [ngClass]="fg.get('id').value === returnGuidEmpty()?'btn-success':'btn-outline-dark'"><i
                class="far fa-save fa-lg"></i>
            {{fg.get('id').value === returnGuidEmpty()?'Submit':'Update'}}
        </button>
        <button class="btn btn-light ml-1" (click)="onDelete(fg.get('id').value,i)">
            <i class="far fa-trash-alt fa-lg text-danger"></i>
        </button>
    </div>
    </form>
  </div>
</div>
