
    <script type="text/javascript">

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10)
        {
            dd = '0' + dd;
        }
        if (mm < 10)
        {
            mm = '0' + mm;
        }
        today = dd + '/' + mm + '/' + yyyy;

        var input = $('.datepicker').pickadate({
            formatSubmit: 'yyyy/mm/dd',
            // min: [2015, 7, 14],
            container: '#container',
            // editable: true,
            closeOnSelect: false,
            closeOnClear: false,
        });

        alert(yyyy);

        var calendar = input.pickadate('picker');
        calendar.open();

    </script>

<div class="container">
    <h3 style="text-align: center">Exams</h3>
    <input type="button" class="btn btn-info" ng-click="vm.RequestExams()" value="Retrieve Exams" />
</div>
<div class="container panel">
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-cellnav class="myGrid"></div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="field panel panel-default">
                <label for="stTitle">Title: </label>
                <input type="text" id="stTitle" ng-model="vm.Title" size="20" />
            </div>
            <div class="field panel panel-default">
                <label for="stDate">Date: </label>
                <input placeholder="Selected date" type="text" id="stDate" ng-model="vm.Date" class="form-control datepicker">
                <!--<input type="text" id="stDate" ng-model="vm.Date" size="20" />-->
            </div>
        </div>
        <div class="buttons">
            <input type="button" class="btn btn-info" ng-click="vm.ClearSubject()" value="Clear" />
            <input class="btn btn-info" type="button" ng-click="vm.SaveSubject(vm.SelectedRows)" value="Save" />
            <input type="button" class="btn btn-info" ng-click="vm.EditSubject(vm.SelectedRows)" value="Edit" />
            <input type="button" class="btn btn-info" ng-click="vm.DeleteSubject(vm.SelectedRows)" value="Delete" />
        </div>
    </div>
</div>
