
<div class="container">
    <h3 style="text-align: center">Exams</h3>
    <input type="button" class="btn btn-info" ng-click="vm.RequestExams()" value="Retrieve Exams" />
</div>
<div class="container panel">
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-cellnav class="myGrid"></div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="field panel panel-default">
                <label for="stDate">Date: </label>
                <md-datepicker id="stDate" ng-model="vm.myDate" md-placeholder="Enter date"></md-datepicker>
                <!--<input type="text" id="stDate" ng-model="vm.Date" size="20" />-->
            </div>
            <div class="field panel panel-default">
                <label for="stTitle">Title: </label>
                <input type="text" id="stTitle" ng-model="vm.Title" size="20" />
            </div>
            <div class="field panel panel-default">
                <label for="stSubject">Subject: </label>
                <input type="text" id="stSubject" ng-model="vm.Subject" size="20" />
            </div>
            <div class="field panel panel-default">
                <label for="stText">Text: </label>
                <textarea type="text" id="stText" ng-model="vm.Text" size="20"></textarea>
            </div>
        </div>
        <div class="buttons">
            <input type="button" class="btn btn-info" ng-click="vm.ClearSubject()" value="Clear" />
            <input class="btn btn-info" type="button" ng-click="vm.SaveSubject(vm.SelectedRows)" value="Save" />
            <input type="button" class="btn btn-info" ng-click="vm.EditSubject(vm.SelectedRows)" value="Edit" />
            <input type="button" class="btn btn-info" ng-click="vm.DeleteSubject(vm.SelectedRows)" value="Delete" />
        </div>
    </div>
</div>
