<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #00a023; font-size: large;">
  <a class="navbar-brand" routerLink="/">{{appName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/students">Students
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/subjects">Subjects
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/exams">Examenes</a>
      </li>
    </ul>
  </div>
</nav>
